<!-- <nav>
    <div class="nav-wrapper card-panel teal lighten-2">
    	<img src="https://www.hiddenramp.com/drawable/logo1.png" class="brand-logo">
      <ul id="nav-mobile" class="right">

        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>
</nav> -->

<nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="https://www.hiddenramp.com/" class="brand-logo"><img src="https://www.hiddenramp.com/drawable/logo1.png" class="brand-logo"></a>
      <ul id="nav-mobile" class="right">
        
        <li *ngIf="app.isPressed"><a routerLink="/home">Home</a></li>
      </ul>
    </div>
  </nav>