<footer class="page-footer card-panel teal lighten-2" >
 
  <div class="container">
 
    <div class="row">
 
      <div class="col l6 m4 l6">
 
        <h5 class="white-text">Who we are?</h5>
        <div class="banner-content-container">
                <h6 class="banner-heading">
                    World's 1st Social
                    <br>
                    Networking Talent Portal
                </h6>
              </div>
 
        <p class="grey-text text-lighten-4">Helping you turn your talents into pursuits
and your hobbies into careers.</p>
 
   
 
      </div>
 
      <div class="col l4 offset-l2 m4 l3">
 
        <h5 class="white-text">Contact</h5>
 
        <ul>
 
          <li class="grey-text text-lighten-3" href="#!">Bangalore,India</li>
 
          <li class="grey-text text-lighten-3" href="#!">Phone: +00 1515151515</li>
 
          <li class="grey-text text-lighten-3" href="#!">Email: mail@mail.com</li>
 
          <!-- <li><a class="grey-text text-lighten-3" href="#!">HTML</a></li> -->
 
        </ul>
 
 
 
      </div>
 
      <!-- <div class="col l4 offset-l2 m4 l3">
 
        <h5 class="white-text">About </h5>
 
        <ul>
 
          <li><a class="grey-text text-lighten-3" href="#!">About the Company</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Contact Support</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Contact Sales</a></li>
 
        </ul>
 
 
 
      </div> -->
     



 
    </div>
 
  </div>
 
  <div class="footer-copyright">
 
    <div class="container">
 
    © 2018 Copyright - All Rights Reserved
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="grey-text text-lighten-4 right circle" class="fa fa-facebook" href="https://www.facebook.com/HiddenRamp/" target="_blank"></a>
    <a class="grey-text text-lighten-4 right circle" class="fa fa-linkedin" href="https://in.linkedin.com/company/hiddenramp" target="_blank"></a>
    <a class="grey-text text-lighten-4 right circle" class="fa fa-twitter" href="https://twitter.com/RampHidden" target="_blank"></a>
 
    </div>
 
  </div>
 
</footer>