 <div class="animated fadeInRight">
  <div class="parallax-container center valign-wrapper" *ngIf="!app.isPressed">
  <div class="container">
    <div class="row">
      <div class="col s12 black-text">
        <h2 class="teal-text teal-text lighten-2">Online Events</h2>
        <p class="line-1 anim-typewriter">Webinars, Conference etc...... and much more</p>
        <a routerLink="/onlineEvents"><button  class="btn-floating-large btn-large waves-effect waves-light blue animated infinite rubberBand">Dive In</button></a>
      </div>
    </div>
  </div>
 
  <div class="parallax animated infinite rubberBand">
    <img src="https://financesonline.com/uploads/2017/11/event_management.jpg">
  </div>


</div>
</div>
    <!-- <div class = "iris">
    <div class = "card transparent z-depth-5">
      <div class="row container">
        <h2 class="header">Parallax</h2>
        <a href="#" class="btn-flat waves-effect waves-red">Decline</a>
      </div>
  </div> -->
    <!-- </div> -->
    <!-- <div class="parallax-container">
      <div class="parallax"><img src="https://materializecss.com/images/parallax1.jpg"></div>
    </div> -->