<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- We will make a simple accordian with hover effects 
The markup will have a list with images and the titles-->
<div class="accordian animated fadeInUp" >
    <ul>
		<li>
			<div class="image_title ">
				<a href="https://www.youtube.com/watch?v=5wtnKulcquA">Robotic Workshop</a>
				<p class="waves-effect waves-light green animated infinite rubberBand">Starts in 4 days</p>
			</div> 
			<a href="#">

				<img src="http://www.robozest.com/images/slider/robotic-workshop.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cloud Computing</a>
				<!-- <p class="waves-effect waves-light blue animated infinite rubberBand">Only 2 Days Left.....Register Now</p> -->
			</div>
			<a href="#">
				<img src="http://www.shreetechhub.com/img/workshop/Cloud-Computing-Workshop.png"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Beat in Codes</a>
				<p class="waves-effect waves-light red animated infinite rubberBand">1 Day Left</p>
			</div>
			<a href="#">
				<img src="https://tuhdo.github.io/static/c-ide/projectile-find-other-file.gif"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Web Battle</a>

			</div>
			<a href="#">
				<img src="https://www.hiddenramp.com/drawable/mobile-how-it-works.png"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">More to Come</a>
				
			</div>
			<a href="#">
				<img  src="https://media.istockphoto.com/vectors/online-business-meeting-isometric-flat-vector-concept-vector-id1046485164"/>
			</a>
		</li>
	</ul>
</div>
