<!-- <app-online-events></app-online-events>
<app-offline-events></app-offline-events> -->

<!--The content below is only a placeholder and can be replaced.-->
<!-- <ng4-loading-spinner [threshold]="1000" [template]="template" 
  [loadingText]="'Please wait...'" [zIndex]="999"> </ng4-loading-spinner>
<app-header ></app-header>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->

<!-- <router-outlet></router-outlet> -->
<!-- <div mnFullpage 
            [mnFullpageNavigation]="true" 
            [mnFullpageKeyboardScrolling]="true"
            [mnFullpageControlArrows]="false">
            <div class="section fp-section fp-table">        
                <div class="fp-tableCell">
                    <app-online-events></app-online-events>
                </div> 
            </div>
            <div class="section fp-section fp-table">        
                <div class="fp-tableCell"> <app-offline-events></app-offline-events></div> 
            </div> -->

            
		<app-online-events  ></app-online-events>
		
	
		<app-offline-events ></app-offline-events>
        <app-up-coming-events></app-up-coming-events>
        <app-guest-speaker></app-guest-speaker>
        <app-testimonial></app-testimonial>






